services:
  - type: web
    name: BonoAI-backend
    runtime: python
    branch: master
    rootDir: backend
    region: frankfurt
    buildCommand: "./build.sh"
    startCommand: "gunicorn fracture_risk.wsgi:application"
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
